@import '_common.scss';
@media (min-width:320px) {

    .click-info{
        position: fixed;
        top: 110px; left: 0px;

        .clickinfo-box{
            .clickimg-box{
                margin-left: 20px;
                margin-bottom: 20px;
                .clickimg{
                    cursor: pointer;
                    display: inline-block;
                    width: 42px; height: 42px;
                    background: url('../img/mul01/btn_detail_info.png') no-repeat center;
                    background-size: 100%;
                    border: none;
                    &.active{
                        background: url('../img/mul01/btn_detail_info_on.png') no-repeat center;
                        cursor: pointer;
                        display: inline-block;
                        width: 42px; height: 42px;
                        background-size: 100%;
                        border: none;
                    }
                }
            }
            .slideinfo-box{
                ul{
                    background: rgba($color: #fff, $alpha: .9);
                    font-size: 14px;
                    font-weight: bold;
                    width: 100%;
                    
                    li{
                        position: relative;
                     
                        }
                        
                        a{display:block;
                        border-bottom: 1px solid #d5d5d5;
                        width: 100vw;
                        line-height: 36px;
                        padding-left: 20px;
                        
                        span{
                             
                        &::after{
                            content: '';
                            background: url('../img/mul01/icon_arrow_next1.png') no-repeat center;
                            background-size: 100%;
                            position: absolute;
                            width: 8px; height: 20px;
                            top: 25%;
                            right: 15px;

                            
                            }
                        }
                    }
                }
            }
        }
    }

    // 상품이미지 설명
    .goodsdetail{
        width: 100%;
        .detailimg-box{
            padding-left: 5px;
            .detailimg{
                img{
                    width: 100%;
                }
            }
        }
        .goodsdisc-box{
            padding: 10px;
            .goodsinfo{
                padding-bottom: 10px;
                border-bottom: 1px solid #ededef;
                .best{
                  
                }
                .goods-tit{
                    font-size: 18px;
                }
                .price-box{  font-size: 12px;
                }
                    .price{font-size: 24px;
                        color: #333333;}
                    .won{}
                    del{color: #999999;}
                    .won1{color: #999999;}
                }
               
            }
        }
        .goodsdisc-box-sub{
            padding: 10px;
            border-bottom: 1px solid #ededef;
        dl{
            display: table;
            width: 100%;
            padding: 2px 0;
            dt{
                display: table-cell;
                width: 25%;
                font-size: 12px;
                color: #888888;
            }
            dd{
                display: table-cell;
                width: 75%;
                font-size: 12px;
                color: #333333;
                a{margin-left: 2px;}
                >div{}
            }
            }
        }

        .sharewish-box{
            border-bottom: 1px solid #999999;
            padding: 5px;
            .sharewish{
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    margin: 5px auto;
                    width: 50%;
                      text-align: center;
                        button{  
                        cursor: pointer;    
                       border: none;
                       background-color: #fff;
                       overflow: visible;
                        padding-left: 25px;
                       
                       font-size: 13px;
                       font-weight: bold;
                       
                       color: #333333;
                    }
                }
                .share{
                    background: url('../img/mul01/icon_line1.gif') no-repeat right center;
                    background-size: 1px 20px;
                    >button{ 
                        
                        
                        background: url('../img/mul01/icon_share.png') no-repeat left;
                        background-size:19px;
                       
                    }
                }
                .wish{
                    >button{
                        background: url('../img/mul01/icon_heart.png') no-repeat left;
                        background-size:19px ;
                    }
                }
            }
        }
        .goodsinfo-box{
            padding: 0 5px;
            
            border-top: 1px solid #999;
            border-bottom: 1px solid #e2e2e2;
            .goodsinfobtn-box{
                display: table;
                width: calc(100% - 10px);
                
                margin: 0 auto;
                text-align: center;
                font-size: 13px;
                font-weight: bold;
                
                li{
                    display: table-cell;
                    width: 25%;
                    padding: 13px 0 ;
                    a{ color: #333333;}
                }
                .disc{
                    border-bottom: 2px solid #ff6c1c;
                }
                .base{}
                .review{}
                .req{}
            }
        }
        .infotab-box{
            width: 100%;
            margin: 5px;
            .detail-box{
                width: calc(100% - 10px);
                .centertag{
                    img{
                        width: 100%;
                    }
                }
            }
        }
        // clickslider-box

        .clickslider-box{
            
            padding: 10px;
            .sliderheader{
                border: 1px solid #d9d9d9;
                position: relative;
                background: #f0f0f0;
                h3{
                    font-size: 14px;
                    padding: 10px;
                }
                button{
                    position: absolute;
                    right: 5%;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 0;
                    border: none;
                    background-color: none;
                    width: 16px;
                    height: 16px;
                    transition: .5s;
                    &.active{
                        transform: rotate(180deg) translateY(5px) translateX(-5px);
                    }
                    span{ 
                        display: block;
                        background: url('../img/mul01/icon_arrow1.png') no-repeat center;
                        background-size: 100%;
                        width: 16px;
                        height: 16px;
                    }
                }
            }
            .contentbox{
                border: 1px solid #d9d9d9;
                padding: 10px;
                dl{
                    font-size: 12px;
                    dt{
                        padding: 5px;
                        font-weight: bold;
                    }
                    dd{ 
                        padding: 5px;
                        color: #555555;
                    }
                }
            }
        }

    }




    